body {
    background: #454545;
    padding-top: 20px;
}
.ambient-key-shadows {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 3px 5px 1px rgba(0, 0, 0, 0.15);
}

.navbar {
    border: 1px solid #aaa;
    border-radius: 2px;
}
.navbar-brand {
    font-weight: 900;
    padding: 0 20px;
    line-height: 60px;
    letter-spacing: 10px;
    font-size: 32px;
}
.navbar a {
    color: #aaa !important;
}
.navbar a.text-danger {
    color: #900 !important;
}
.navbar a:hover {
    color: #666 !important;
}
.navbar-nav>li>a>span.label {
    font-size: 0;
    color: #666;
    transition: font-size 100ms ease-in-out;
}
.navbar-nav>li>a:hover>span.label {
    font-size: 20px;
}

.navbar-form { margin: 12px 0 0 !important; padding: 0 !important; }

.content-wrapper {
    background: #f8f8f8;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 0 20px 20px;
    margin-bottom: 20px;
}

p.count {
    font-size: 32px;
}

.toggle-password:hover {
    background-color: #666;
    color: #fff;
    cursor: pointer;
}
.action-result {
    color: #fff;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
}
.action-error {
    background: #a00;
}
.action-success {
    background: #4c9335;
}