body {
    background: #f0f0f0;
    padding-top: 20px;
}
.ambient-key-shadows {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 3px 5px 1px rgba(0, 0, 0, 0.15);
}

.navbar {
    background: #fff !important;
    border: 1px solid #aaa;
    border-radius: 2px;
}
.navbar-brand {
    font-weight: 900;
    padding: 0 20px;
    line-height: 60px;
    letter-spacing: 10px;
    font-size: 32px;
}
.navbar a {
    color: #666 !important;
}
.navbar a.text-danger {
    color: #900 !important;
}
.navbar a:hover {
    color: #222 !important;
}
.navbar a.text-danger:hover {
    color: #c00 !important;
}
.navbar-nav>li>a>span.label {
    font-size: 0;
    color: #222;
    transition: font-size 100ms ease-in-out;
}
.navbar-nav>li>a:hover>span.label {
    font-size: 20px;
}
.navbar-nav>li>a.text-danger:hover>span.label {
    color: #c00;
}

.navbar-form { margin: 12px 0 0 !important; padding: 0 !important; }
.navbar-form input:focus {
    border-color: #999;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
}
.content-wrapper {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 0 20px 20px;
    margin-bottom: 20px;
}
.stat-item {
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin: 10px 0;
}

.stat-item p.count {
    line-height: 80px;
    font-size: 32px;
}
.toggle-password:hover {
    background-color: #666;
    color: #fff;
    cursor: pointer;
}
.action-result {
    color: #fff;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
}
.action-error {
    background: #a00;
}
.action-success {
    background: #4c9335;
}

.translation-group {
    background: #f0f0f0;
    border: 1px solid #ccc;
}
.translation-group>h3.lang-name {
    color: #999;
    margin: 10px;
    padding: 10px;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
.translation-group>h3.title, .translation-group>div, .translation-group input[type=text] {
    background: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
}
.translation-group textarea {
    min-height: 200px;
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
}

.translation-group .form-toolbar {
    margin: 20px 10px;
}

.note-editor {
    margin: 10px;
}

.float-right {
    float: right;
}
.abstract-trans {
    height: 400px !important;
}
.rtl-text { direction: rtl; text-align: right; }
